@font-face {
font-family: 'DejaVu Sans Mono';
font-style: normal;
font-weight: normal;
font-display: swap;
src: url('./mono.woff2') format('woff2'), url('./mono.woff') format('woff');
}
@font-face {
font-family: 'DejaVu Sans Mono';
font-style: oblique;
font-weight: normal;
font-display: swap;
src: url('./mono-oblique.woff2') format('woff2'), url('./mono-oblique.woff') format('woff');
}
@font-face {
font-family: 'DejaVu Sans Mono';
font-weight: bold;
font-style: normal;
font-display: swap;
src: url('./mono-bold.woff2') format('woff2'), url('./mono-bold.woff') format('woff');
}
@font-face {
font-family: 'DejaVu Sans Mono';
font-style: oblique;
font-weight: bold;
font-display: swap;
src: url('./mono-bold-oblique.woff2') format('woff2'), url('./mono-bold-oblique.woff') format('woff');
}